.background {
    position: relative;
    text-align: center;
  }

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: #e9e6e9
  }

.bgimage{
    width: 100%;
  }